.home-wrapper {
  width: 100%;
  display: flex;
}

.r1 {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  h3.l1,
  h3.l2,
  h3.l3 {
    width: 100%;
    text-align: left;
    font-size: 60px;
    margin: 10px;
  }

  h3.l2.animate__fadeIn,
  h3.l3.animate__fadeIn {
    // animation: "fadeIn";
    // animation-duration: 15s;
    // animation-delay: 1.5s; not sure why this doesn't work when deployed
  }

  .left {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
  }

  .right {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-right: 10%;
  }
}
